* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

#wrapper {
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

h1 {
    font-size: 200%;
    margin-bottom: 20px;
}

p {
    line-height: 200%;
}

form ol {
    list-style: none;
    counter-reset: item;
}

form li {
    counter-increment: item;
    margin-bottom: 5px;
}

form li:before {
    display: flex;
    align-items: center;
    justify-content: center;
    content: counter(item);
    width: 25px;
    height: 25px;
    background-color: rgb(33, 132, 206);
    border-radius: 5px;
    color: white;
    text-align: center;
    font-size: 80%;
    font-weight: bold;
}

form label {
    display: block;
}

form label span {
    display: block;
    margin-bottom: 10px;
}

form label textarea {
    display: block;
    width: 100%;
    min-height: 80px;
    padding: 15px;
    margin-bottom: 15px;
}

#output {
    height: 200px;
}

form button {
    display: block;
    width: 100%;
    height: 40px;
    margin: 10px 0;
    border: none;
    outline: none;
    border-radius: 5px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: rgb(33, 132, 206);
}

#process,
#copy {
    display: flex;
    align-items: center;
    justify-content: center;
}

form button::before {
    display: inline-block;
    content: '';
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

#process::before {
    background-image: url(../img/gear-icon.png);
}

#copy::before {
    background-image: url(../img/copy-icon.png);
}