* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

#wrapper {
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

form label {
    display: block;
}

form label span {
    display: block;
    margin-bottom: 10px;
}

form label textarea {
    display: block;
    width: 100%;
    min-height: 80px;
    padding: 15px;
    margin-bottom: 15px;
}

#output {
    height: 200px;
}

#process {
    display: block;
    width: 100px;
    height: 35px;
    margin-bottom: 15px;
}